@model SuperERP.Vendas.DTO.ServicoDTO

@{
    ViewBag.Title = "Deletar Serviço";
}

<h2>Deletar Serviço</h2>

<h3>Você tem certeza que deseja deletar este serviço?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Empresa)
        </dd>

        <dt>
            categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Categoria_Servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COFINS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COFINS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.custo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.custo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista de serviços", "Index")
        </div>
    }
</div>
